<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>响应式表格布局</title>
    <link rel="stylesheet" type="text/css" href="../static/css/begin.css" />
</head>
<body>
    <h1>课程</h1>
    <table class="responsive">
        <thead>
        <tr>
            <th>程序序号</th>
            <th>课程名称</th>
            <th>课程操作</th>
        </tr>
        </thead>
        <tr>
            <td class="number">150406</td>
            <td class="name">移动应用开发</td>
            <td class="actions">
                <a href="#">修改</a><a href="del">删除</a>
            </td>
        </tr>
        <tr>
            <td class="number">150407</td>
            <td class="name">HTML前段开发</td>
            <td class="actions">
                <a href="#">修改</a><a href="del">删除</a>
            </td>
        </tr>
    </table>
</body>
</html>