
{% extends "layout.html" %}

{% block main_content %}
    <h1>Data received List</h1>
<div id="main-content" class="htmleaf-container">
    <div style="padding-left: 93%;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-fw fa-lg fa-refresh"></i> Refresh</button>
    </div>

    <div class="table-responsive">
        <table id="my" class="table table-hover" data-toggle="table">
            <thead>
                <tr>
                    <th>Device ID<i class="fa fa-fw fa-sm fa-sort"></i></th>
                    <th>Scan Number<i class="fa fa-fw fa-sm fa-sort"></i></th>
                    <th>Time<i class="fa fa-fw fa-sm fa-sort"></i></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="wifi_list">
            <tr>
                <td>{{ wifi.Device_ID }}</td>
                <td>{{ wifi.Scan_number }}</td>
                <td>{{ time }}</td>
                <td><button>Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">
    $(document).ready(function(){
        $(function(){
            $("#my").tablesorter({ sortList: [[2, 1]] });

        });
    });
    // my_alert("welcome to the dashboard");
</script>
{% endblock %}